[ISL]:Every day appearing island / [ADV]:Procyon's compass island / [N/A]:Not available at the moment / [UNA]:Una's task first to unlock quest / [RAP]:Through rapport / [EVT]:Event / [BOS]:World boss

-> Southwest Gienah Sea, 6 Souls:
[N/A] Vairgrys's Nest Island Soul

-> East Central Gienah Sea, 10 Tokens:
[RAP] Toto Silver Island Soul
[ISL] Tooki Island Soul
[ADV] Forpe Island Soul
[UNA] Notos Island Soul
[ISL] Shangra Island Soul

-> Northeast Gienah Sea, 14 Souls:
[EVT] Argon Island Soul (resets at 1 AM)
[ADV] Oblivion Isle Token
[ADV] Lush Reed Island Soul

-> Northwest Gienah Sea, 15 Souls:
[ISL] Illusion Isle Token
[EVT] Kalthertz Island Soul (pirat coins)
[BOS] Frostfire Island Soul
[ADV] Medeia Island Soul
[ISL] Death's Hold Island Soul
[ISL] Alakkir Island Soul
[ADV] Drumbeat Island Soul

-> West Central Gienah Sea, 7 Souls:
[ADV] Volare Island Soul
[EVT] Little Luck Island Soul (pirat coins)
[ISL] Erasmo's Island Soul
[RAP] Liebeheim Island Soul
[UNA] Revelry Row Island Soul

-> North Procyon Sea, 13 Souls:
[!!!] Isle of Yearning Token
[ADV] Monte Island Soul
[UNA] Fantasm Island Soul
[RAP] Eternity Isle Token
[RAP] Sublime Isle Token
[ADV] Tranquil Isle Token
[ADV] Asura Island Soul
[ISL] Unknown Island Soul
[EVT] Tooki Corporation Island Soul (coop quest or kill tooki king)

-> Central Procyon Sea, 16 Souls:
[BOS] Wildwater Island Soul
[ADV] Harmony Island Soul
[ADV] Lagoon Island Soul
[RAP] Hypnos's Eyes Island Soul
[!!!] Walpurgis Island Soul
[UNA] Isteri Island Soul

-> South Procyon Sea, 5 Souls:
[RAP] Whispering Islet Token
[RAP] Illusion Bamboo Island Soul
[!!!] Anguished Isle Token (dungeon once a day)
